:root {
  /* Primary Colors */
  --teal-500: hsl(179, 62%, 43%);
  --teal-400: hsl(179, 48%, 52%);
  --green-400: hsl(71, 73%, 54%);
  
  /* Neutral Colors */
  --teal-100: hsl(204, 43%, 93%);
  --gray-500: hsl(218, 22%, 67%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--teal-100);
    font-family: Karla;
    color: white;
}

/*typography*/
h1{
    color: var(--teal-400);
    font-size: 1.5rem;
}

h2{
    color: var(--green-400);
    font-size: 1.125rem;
}

h3{
   font-size: 1.25rem;
   margin: 0;
   margin-bottom: 1rem;
}

h4{
    font-size: 2rem;
}



/*Layout*/
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem;
    border-radius: 0.5rem;
}

.info-section, .price-section, .why-us-section{
    padding: 2.5rem;
}

/*info-section*/

.info-section{
    grid-column: 1/ -1;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 2.5rem;
}

/*typography*/

.info-section p{
    color: var(--gray-500);
}


/*price-section*/

.price-section{
    display: flex;
    flex-direction: column;
    background-color: var(--teal-500);
}

.price{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

button{
    background-color: var(--green-400);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    font-family: Karla;
    color: white;
    font-weight: bold;
}

/*typography*/

.price p, .price h4, p{
    margin: 0
}

.price p {
    opacity: 0.5;
}

.price-info{
    margin-bottom: auto;
}



/*why-us-section*/

.why-us-section{
    background-color: var(--teal-400);
}

/*typography*/

.why-us-section p{
    opacity: 0.75;
}




